---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const allProjects = await getCollection('projects');
  return allProjects.map(project => ({
    params: { slug: project.slug }, props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout>
    <section class="flex flex-col justify-center items-center bg-slate-800 min-h-screen mt-20 mb-4">
        <p class="text-xl mb-3 hover:text-slate-200"><a href="/#Projects">&lt; Back to Projects</a></p>
        <div class="flex flex-col gap-4 items-center border w-5/6 p-4 bg-slate-900 rounded-xl sm:w-3/4 xl:w-1/2">
            <h1 class="title-font text-4xl text-center text-white">{project.data.title}</h1>
            <div class="flex flex-wrap justify-center gap-2">
              <b>Stack used:</b>
              {project.data.stack.map((tech, index, array)=> {
                  if (array.length - 1 === index){
                    return (<i>{tech}</i>)
                  }
                  else {
                    return (<i>{tech}</i><span>-</span>)
                  }
                  
              })}
            </div>
            <Image src={"/projects/"+project.data.image} alt="Metroidvania.GG" width={720} height={540} class="rounded-xl border"/>
            <div class="content-description">
              <Content/>
            </div>
            <div class="flex w-full justify-center items-center gap-4">
                <p><a href={project.data.github} target="_blank">
                    <button class="border rounded ml-2 p-2 bg-slate-800 hover:bg-slate-700">
                      Inspect the Code!
                    </button>
                </a></p>
                { project.data.demo !== "none" 
                  ? <p><a href={project.data.demo} target="_blank">
                        <button class="border rounded ml-2 p-2 bg-slate-800 hover:bg-slate-700">See it Live!</button>
                    </a></p> 
                  : null }
            </div>
        </div>
    </section>
</Layout>

<style is:global>
  h3 {
    font-size: 24px;
    font-weight: bold;
    border-left: 4px solid red;
    border-bottom: 1px solid red;
    border-bottom-left-radius: 16px;
    padding-left: 8px;
    margin: 20px 0 16px 0;
  }
  
  h2 {
    font-size: 20px;
    font-weight: bold;
    border-left: 4px solid white;
    border-bottom: 1px solid white;
    border-bottom-left-radius: 16px;
    padding-left: 8px;
    margin: 32px 0 16px 0;
  }
  
  .content-description li {
    list-style: circle;
    margin-left: 33px;
  }

  p {
    padding-left: 13px;
  }
</style>