---
import Project from '../components/Project.astro';
import { getCollection } from 'astro:content';

const allProjects = await getCollection('projects');

---

<section class="flex flex-col justify-around items-center pb-4 pt-12 bg-slate-800 min-h-screen" id="Projects">
    <p class="text-6xl font-bold mb-3 mt-3 title-font underline">Projects</p>
    <div class="flex flex-wrap w-4/5 xl:w-2/3 justify-around">
        {allProjects.map((project:any) => (
            <Project 
                title={project.data.title}
                slug={project.slug}
                image={project.data.image}
                description={project.data.description}
                stack={project.data.stack}
                github={project.data.github}
                demo={project.data.demo}
            />
        ))}
    </div>
</section>